body{
		background: white;
	
	}
	
	
	.principal{
		width: 1105px;
		height: 500px;
		border: 1px solid red;
		margin-left: 80px;
		margin-top: 80px;
	}
	
	.header-top img{
		width: 10px
		height: 2px;
	}
	
	.principal img{
		width: 1200px;
	}
	
	.header-nav li{
		display: inline-block;
		padding-left: 20px;
		}
		
	
	.header-nav ul{
		margin-left: 690px;
	}
	
	
	{
	
	}
	
	
	{
	
	}
	
	
	{
	
	}
	
	
	{
	
	}
	
	
	{
	
	}
	
	
	{
	
	}